{% extends 'base.html.twig' %}

{% block title %}Todo!{% endblock %}

{% block body %}

<div class="container pt-3">
    <h1 class="text-center">Todo Liste! ✅</h1>
    {# <ul> #}
    {# {% for title in tasks %}
        {% for item in title %}
            {% if {{item}} %}
            <p>{{item}}</p>
            {% else %}
            <u>{{item}}</u>
        {% endfor %}
    {% endfor %} #}
    {# </ul> #}
    {% for todo in todos %}
    <p>{{todo.title}}</p>
    {% endfor %}

</div>
{% endblock %}
